*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e1b8953c;
    top : 0px;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid #e1b8953c;
}
img{
    width: 40px;
    height: 45px;
}
.head-0{
    width: 10%;
    display: flex;
    padding: 50px;
    padding-left: 9%;
}
.head-1{
    display: flex;
    align-items: center;    
    justify-content: center;
}
.head-1 ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
    font-size: 16px;
}
.head-1 ul li a{
    text-decoration: none;
    color: black;
}
.head-2{
    width: 200px;
    margin-left: 20%;
    display: flex;
    gap: 15px;
}
.head-2 a{
    text-decoration: none;
    color: black;
}
header:hover{
    background-color: rgb(255, 255, 255);
}
.head-1 a:hover{
    border-bottom: 5px solid black;
    border-radius: 5px;
    padding-bottom: 32px;
    transition: all -5s ease;
}
